* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(46, 196, 182, 0.04);
    justify-content:center ;
    display: flex;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    width: 80%;
}

.white{
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    /* color: #FFFFFF; */
    /* flex-shrink: 0; */
    padding:40px;
    width: 50%;
}

.details {
    width: 50%;
}

.details h1{
    color:#000B0A;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 125% */
    letter-spacing: -0.8px;
    margin-block: 30px 15px; 
}

.details p{
    width: 90%;
    color: #737373;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */

}

.mobile {
    display: none;
}

form{
    width: 100%;
}

.input-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: solid blue; */
    /* padding: 0 auto; */
    margin-bottom: 15px;
    
}

.input-container {
    display: flex;
    /* border: solid red; */
    flex-direction: column;
    width: 48%;
}


.input-container label, .full-width label{
    margin-bottom: 5px;
    color:#011C34;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}

.input-container input, .input-container select{
    border: 1px solid #f0f0f0;
    padding:14px 16px;
    background: transparent;
    width:100%;
    /* border: solid green; */
    outline:none; 
}

.input-container input:focus, .input-container select:focus{
    border: 1px solid #2EC4B6;
}

.full-width input:focus, .full-width select:focus{
    border: 1px solid #2EC4B6;
}

.full-width {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.full-width input, .full-width select{
    border: 1px solid #f0f0f0;
    padding:14px 16px;
    background: transparent;
    width:100%;
    /* border: solid green; */
    outline: none;
}

.full-width label{
    margin-bottom: 5px;
}

button {
    padding: 14px;
    width: 100%;
    color: white;
    border: none;
    background: #2EC4B6;
}

.inside-p{
    color: #000;  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    text-align: center;
}

.inside-p a{
    color: #2EC4B6;
}

.outside-p{
    color: #000;  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    text-align: center;
    display: none;
}

.outside-p a{
    color: #2EC4B6;
}

@media screen and (max-width:425px){
    body{
        height: 100%;
    }

    .container {
        /* display: flex; */
        /* align-items: center; */
        width: 90%;
        flex-direction: column;
    }

    .white{
        width: 100%;
        padding: 20px;
        margin-top: 30px;
    }

    .input-container:first-of-type{
        margin-bottom: 15px;
    }

    .details{
        width: 100%;
    }

    .input-row{
        flex-direction: column;
    }

    .input-container{
        width: 100%;
    }

    .input-container input, .input-container select, .full-width input, .full-width select{
        width: 100%;
        /* border: solid red; */
    }
    
    .inside-p{
        display: none;
    }
    
    .outside-p{
        display: block;
    }

    .desktop{
        display: none;
    }

    .mobile {
        display: block;
    }
    
}

